/* ContactDetails.css */

.contact-details-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-details-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: calc(100% - 22px); /* Feldbreite angepasst */
    padding: 10px;
    border: 1px solid #ccc; /* Randfarbe geändert */
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* Inhalt wird nicht breiter als das Feld */
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

