.about {
    padding: 40px;
    background-color: var(--body-bg);
    color: var(--text-color);
  }
  
  .about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .about p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Add CSS variables for themes */
  :root {
    --body-bg: #FFF;
    --text-color: #000;
  }
  
  [data-theme="dark"] {
    --body-bg: #363537;
    --text-color: #FAFAFA;
  }
  